
#menu {
    position:relative;
	z-index:5;
	margin-bottom: 5px;
}
#menu .menu {width:100%; height:67px; padding:0; background:url(../images/bg-menu.jpg) repeat-x;}
#menu * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu a {
    display:block;
    padding-left:13px;
}
#menu a span {
    display:block;
    padding:6px 14px 10px 2px;
    white-space:nowrap;
}
#menu li {
    float:left;
	margin-right:5px;
}
#menu li li { float:none; }
#menu div {
    display:none;
    position:absolute;
    margin-top:-5px;
    width:300px;
}
#menu div a span{color:#fff; text-shadow:1px 1px 0 #986004;}
#menu div ul { position:relative; }
#menu li:hover>div { display:block; }

/** ie7 */
*:first-child+html #menu li:hover>div { top:auto; }

#menu a, 
#menu a span {
    font-size:1em;
    line-height:2em;
    color:#fff;
    text-decoration:none;
    font-weight:normal;
	text-shadow:1px 1px 0 #535051;
}

#menu div a span {
    text-transform:none;
    font-size:14px;
    white-space:normal;
}

#menu div ul {
    width:300px;
}
#menu.active a {
    z-index:780;
    position:relative;
}
#menu.active li { z-index:778; }
#menu.active div div { z-index:781; }
#menu.active div a { position:static; }

#menu.active li.back {
	background:#000;
    height:40px;
    position:absolute;
    padding:0;
    margin:0;
}
#menu.active li.back .left {
    display:block;
    padding:0;
    width:auto;
	background:#000;
    height:40px;
    margin:0 5px 0 8px;
    position:relative;
    left:5px;
    
}

#menu.active .spanbox {
    position:absolute;
    display:none;
    margin-top:-5px;
    width:300px;
}
#menu.active div {
    margin-top:0;
    display:block;
    position:relative;
}
#menu.active div .spanbox {
    margin:0 0 0 -6px;
    left:100%;
}
#menu.active .spanbox .spanbox { margin-top:-50px; }
#menu.active .spanbox .spanbox div { margin:-2px 0 0 0; }

/** ie7 */
*:first-child+html #menu.active div div { top:auto; }
*:first-child+html .menu-images-preloading { visibility:hidden; }

/*------------*/

#menu>ul>li:hover>a.parent span, 
#menu a.parent:hover span{
	background-position:right bottom !important;
	line-height:61px !important;
}
#menu a{padding:3px 6px 3px}
#menu a span{padding:0}
#menu a.parent{padding-right:5px}
#menu a.parent span{padding:0}
#menu.active li.back .left,
#menu.active li.back{
	height:67px; 
	background:url(../images/bg-menu-ho.jpg) repeat-x;
}
#menu.active li.current-back, 
#menu.active li.current-parent-back { background:url(../images/bg-menu-ho.jpg) repeat-x;}
#menu.active li.current-back .left { background:url(../images/bg-menu-ho.jpg) repeat-x; }
#menu.active li.current-parent-back .left { background:url(../images/bg-menu-ho.jpg) repeat-x; }
/*======= sub =======*/
#menu.active .spanbox{margin:0}
#menu.active .spanbox .spanbox{margin:-32px 0 0; padding-left:5px;}
#menu div{
	background:none;
	padding:5px 0 0 0;
}

#menu div ul{
	padding:5px 0;
	background:#04336b;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;
}
#menu div ul li { border-bottom: 1px solid #035da5; }
#menu div a,
#menu div a.parent{
	width:285px;
	padding:0 5px 0 10px;
	margin:0;
}
#menu div a span,
#menu div a.parent span{
	font-size:14px;
	padding:0 25px 0 0;
	margin:0;
}
#menu div a.parent span{background:url(../images/arrow2.png) no-repeat right 4px !important}

#menu div a:hover,
#menu div ul>li:hover>a.parent, 
#menu div ul li a.parent:hover {
    background-color:#4e4e4e !important;
	line-height:61px !important;
}
#menu div ul>li:hover>a.parent span, 
#menu div ul li a.parent:hover span { line-height:61px !important; background-position:right -21px !important; }

#menu>ul>li>a, #menu>ul>li>a>span{
	line-height:61px !important;
	color: #272727;
	text-shadow: 1px 1px 1px #B7B0B0;
}

#menu.active li.current a span,
#menu.active li.back a span,
#menu.active li.current-back a span, 
#menu.active li.current-parent-back a span{ 
	color: #fff  !important;
	text-shadow: 1px 1px 1px #535051; 
}
#menu>ul>li{
	padding: 0 5px;
	border-right: 2px solid #c9c5c5;
	margin:0px;
}
